*, 
*::before,
*::after {
  box-sizing: inherit;
}
body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#mainApp {
    background: url(../beach.jpeg) no-repeat center center/ cover;
    height: 100vh;
    padding: 8rem;
  width: 100vw;
}
#app{
    
    margin: 0 auto;
    align-items: stretch;
    height:100%;
    /*background: #f23557;*/
    /*color: #f0d43a;*/
    color: white;
    justify-content: space-between;
    /*grid-gap: 1em;*/
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
}

.holder{
    display: flex;
  flex-direction: column;
 

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
    /*background: rgb(213, 221, 221);*/
    color: white;

}

#date{

}

#temp{

}

#content{
   
}

.headline {
    
   

}
.title{
    color: darkblue;

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#2091b1;
    color: #f0efe8;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    
}
#zip {
    position: relative;
    width: 100%;
    box-shadow: 2px 4px 5px #444
}
div {
    display: block;
}

#generate {
    /*position: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);*/
    
}
/*.centerBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 50%;
}*/
button{
    background: rgba(59, 74, 107, .4);
    
    background: transparent;
    /*width: 75%;
    /*height: 5rem;*/
    /*box-shadow: 0 1rem 10rem whitesmoke;*/
    color: whitesmoke;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 2rem;
    cursor: pointer;
    /*align-items: center;*/
    display: inline-block;
    
    margin-top: 2.5rem;
    
}
h1{
    font-size: 36px;
}

textarea{
    background:#2091b1;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 2px 4px 5px #444
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #e2e0d1; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    /*color: #f0d43a; */
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    /*color: #f0d43a; */
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;

} 
